{% extends 'base.html' %}

{% block title %}
О Нас!
{% endblock %}

{% block body %}
<div class="list-group">
  <a href="index" class="list-group-item list-group-item-action" aria-current="true">
    Главная страница
  </a>
  <a href="https://t.me/RunPayBot" class="list-group-item list-group-item-action active">ТелеграмБот для добавления пользователей</a>
  <a href="subs" class="list-group-item list-group-item-action">Пользователи</a>
  <a href="create" class="list-group-item list-group-item-action">Добавить пользователя</a>
</div>
{% endblock %}
