body {
    font-family: Arial, sans-serif;
    style="background-color: rgb(244, 244, 245); --tg-color-scheme: light; --tg-theme-bg-color: #ffffff; --tg-theme-text-color: #000000; --tg-theme-hint-color: #707579; --tg-theme-link-color: #3390ec; --tg-theme-button-color: #3390ec; --tg-theme-button-text-color: #ffffff; --tg-theme-secondary-bg-color: #f4f4f5; --tg-theme-header-bg-color: #ffffff; --tg-theme-accent-text-color: #3390ec; --tg-theme-section-bg-color: #ffffff; --tg-theme-section-header-text-color: #707579; --tg-theme-subtitle-text-color: #707579; --tg-theme-destructive-text-color: #e53935; --tg-viewport-height: 898.25px; --tg-viewport-stable-height: 898.25px;"
}

.wallet-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.balance {
    margin-bottom: 20px;
}

button {
    display: block;
    margin-bottom: 10px;
}

input, button {
    margin-top: 5px;
}

#transaction-status {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}
